@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@using Newtonsoft.Json
@using BeetleTracker.Models.Entities;
@model BeetleTracker.Models.IssueViewModels.EditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class='form-group'>
                <label asp-for="Reporter" class="control-label"></label>
                @Html.EJS().DropDownList("reporter").Value(new SelectListItem{ Text = @Model.Reporter}).AllowFiltering(true).Filtering("onUserFiltering").DataSource((IEnumerable<SelectListItem>)ViewBag.Users).Fields(new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings { Text="Text", Value = "Value" }).Render()
                <span asp-validation-for="Reporter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<IssueStatus>()">
                    <option selected="selected"></option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<IssueType>()">
                    <option selected="selected"></option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<IssuePriority>()">
                    <option selected="selected"></option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/custom-validation.js"></script>
}